@use './colors' as *;
@use './mixins' as *;
@use './components' as *;

.hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url('../../img/hero-img-small.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;

    &__shadow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    &__text {
        color: $main-color;
    }
}

@media (width >= 992px) {
    .hero-img {
        background-image: url('../../img/hero-img-large.jpg');
    }
}